<div class="row auto-clear example-gallery">
  {{#each model as |example|}}
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="example-header">
          <h3>{{example.title}}</h3>
        </div>
        <div class="example-body">
        <img src={{example.image}} alt={{example.title}}>
          <div class="example-caption">
            <div class="example-caption-text">
              <p>{{example.blurb}}</p>
            </div>
            <div class="example-tags text-center">
              {{#each example.tags as |tag|}}
                <span class={{tag}}>{{tag}}</span>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<script>
  $('#loader-wrapper').hide();
</script>
{{outlet}}
