<div id="main-content">
  <div id="lead-panel">
    <div class="container">
      <div class="align-wrapper">
        <div class="v-align text-center">
          <div class="row">
            <div class="col-sm-4 col-md-3 gravatar vcenter">
              <img src="http://www.gravatar.com/avatar/a3abeb8216eaa0f5fe206ca443e00220?s=500">
            </div>
            <div class="col-sm-6 col-md-5 lead-blurb vcenter">
              <h1>My name is Taylor Ham and I'm a web developer in Los Angeles.</h1>
              <h3>I'm an expert in HTML and CSS and have a passion for JavaScript frameworks and mobile-first design.</h3>
              <ul class="contact-links">
                <li>
                  <a href="//linkedin.com/in/taylorham3d" id="linkedin-icon">
                    <img src="images/linkedin.svg">
                  </a>
                </li>
                <li>
                  <a href="//teamtreehouse.com/taylorham" id="treehouse-icon">
                    <img src="images/treehouse.svg">
                  </a>
                </li>
                <li>
                  <a href="//github.com/taylorham" id="github-icon">
                    <img src="images/github.svg">
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="work-panel">
    <div class="container">
      <div class="align-wrapper">
        <div class="v-align text-center">
          <h1 class="panel-heading">Portfolio</h1>
          <div class="work-example row auto-clear">
            {{#each model as |example|}}
              <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                  <div class="example-header">
                    <h3>{{example.title}}</h3>
                  </div>
                  <div class="example-body">
                  <img src={{example.image}} alt={{example.title}}>
                    <div class="example-caption">
                      <div class="example-caption-text">
                        <p>{{example.blurb}}</p>
                        {{#if example.url}}
                          <a href="http://{{example.url}}">{{example.url}}</a>
                        {{/if}}
                      </div>
                      <div class="example-tags text-center">
                        {{#each example.tags as |tag|}}
                          <span class={{tag}}>{{tag}}</span>
                        {{/each}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="training-panel">
    <div class="container">
      <div class="align-wrapper">
        <div class="v-align text-center">
          <h1 class="panel-heading">Training</h1>
          <div id="loader-wrapper">
            <div id="loader"></div>
          </div>
          <div class="treehouse-widget row">
            <div class="col-lg-12" style="margin-bottom: 30px;">
              <h2>TeamTreehouse.com Achievements</h2>
              <h3><strong class="total"></strong> total points earned</h3>
            </div>
            <div class="col-sm-6 col-md-4 col-md-offset-2">
              <div class="pie"></div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="legend">
                <ul id="topics" class="list-unstyled">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{!-- <div id="contact-panel">
    <div class="container text-center">
      <h1 class="panel-heading">Contact</h1>
      <div class="align-wrapper">
        <div class="v-align">
        </div>
      </div>
    </div>
  </div> --}}
</div>

<svg class="hide">
    <defs>
        <linearGradient id="svgGradient" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="5%" stop-color="#b2ed9d" />
            <stop offset="95%" stop-color="#569b3d" />
        </linearGradient>
    </defs>
</svg>

<script src="/treehouse.js"></script>
<script src="/fixed-header.js"></script>
<script src="/svgManipulator.js"></script>


{{outlet}}
